---
import { ExtLinkIcon, GithubIcon } from "../icons";

const footerLinks = [
  { text: "About", href: "/about" },
  { text: "Disclaimer", href: "/about#disclaimer" },
  { text: "Guidelines", href: "/guidelines" },
  { text: "Help", href: "/help" },
  { text: "Statistics", href: "/stats" },
  { text: "API", href: "/api" },
];
---

<div class="border-t border-t-neutral-400/50">
  <footer
    class="max-w-7xl mx-auto px-6 py-10 space-y-6 prose-p:leading-relaxe prose-p:opacity-50"
  >
    <div class="flex gap-x-4">
      <span class="opacity-80 shrink-0 mr-3.5">© 2025 Kuroji Fusky</span>
      {
        footerLinks.map((e) => (
          <a
            class="transition-opacity opacity-60 hover:opacity-100 hover:underline"
            href={e.href}
          >
            {e.text}
          </a>
        ))
      }
      <div class="flex-1"></div>
        <a
          href="https://github.com/kuroji-fusky/flinky"
          target="_blank"
          class="transition-opacity opacity-60 hover:opacity-100 flex items-center gap-x-1 hover:underline"
        >
          <GithubIcon />
          <span>Source code</span>
          <ExtLinkIcon width="1em" />
        </a>
    </div>
  </footer>
</div>
