---
import { ExtLinkIcon, GithubIcon } from "../icons";

const footerLinks = [
  { text: "About", href: "/about" },
  { text: "Disclaimer", href: "/about#disclaimer" },
  { text: "Guidelines", href: "/guidelines" },
  { text: "Help", href: "/help" },
  { text: "Statistics", href: "/stats" },
  { text: "API", href: "/api" },
];
---

<div class="border-t border-t-neutral-400/50">
  <footer
    class="max-w-7xl mx-auto px-6 py-6 space-y-6 prose-p:leading-relaxed prose-p:opacity-60"
  >
    <p id="copyright-disclaimer">
      All content hosted on this site is for informational purposes only. 
    </p>
    <div class="flex gap-x-4 gap-y-5 flex-col lg:flex-row">
      <span class="opacity-80 shrink-0 mr-3.5">© 2025 Fusky Labs</span>
      <div class="flex-1 hidden lg:block"></div>
      {
        footerLinks.map((e) => (
          <a
            class="transition-opacity opacity-60 hover:opacity-100 hover:underline"
            href={e.href}
          >
            {e.text}
          </a>
        ))
      }
    </div>
  </footer>
</div>
