---
import { ExtLinkIcon, GithubIcon } from "../icons";

const footerLinks = [
  { text: "About", href: "/about" },
  { text: "Disclaimer", href: "/about#disclaimer" },
  { text: "Guidelines", href: "/guidelines" },
  { text: "Help", href: "/help" },
  { text: "Statistics", href: "/stats" },
  { text: "API", href: "/api" },
];
---

<div class="mx-auto max-w-7xl px-6 mt-6 py-8 bg-amber-600">lmao</div>

<div class="border-t border-t-neutral-400/50 bg-black">
  <footer class="max-w-7xl mx-auto px-6 py-6 space-y-6 prose-p:leading-relaxed">
    <div class="flex gap-x-4 gap-y-5 flex-col md:flex-row">
      <span class="opacity-75 mr-3.5 order-last md:order-0 leading-relaxed"
        >© 2026 Fusky Labs Software. Flinky is an open source project and is
        part of the The Foxington Vault project. Licensed under GNU General
        Public License v3.0.</span
      >
      <div class="flex-1 hidden lg:block"></div>
      {
        footerLinks.map((e) => (
          <a
            class="transition-opacity opacity-60 hover:opacity-100 hover:underline"
            href={e.href}
          >
            {e.text}
          </a>
        ))
      }
    </div>
  </footer>
</div>
