<nav data-global-navigation="" class="sticky top-0 bg-inherit z-[100]">
  <div class="px-6 py-3.5 flex items-center gap-x-3">
    <a href="/">Flinky</a>
    <button>Browse</button>
    <button>Suggest</button>
    <div class="relative flex-1">
      <input
        id="global-search"
        class="w-full dark:bg-neutral-900 rounded-md"
        role="searchbox"
        type="text"
        placeholder="Search for something"
      />
    </div>
    <button>Site options / accessibility</button>
  </div>
</nav>
