---
import { SearchIcon } from "$lib/components/icons";
import { CharacterItem } from "$lib/components/ui";
import Layout from "$lib/layouts/Layout.astro";
import SectionTitle from "$lib/layouts/SectionTitle.astro";

const headings = [
	"Look up for your next furry husbando",
	"ur next waifu awaits you",
];

const randomHeadings = headings[Math.floor(Math.random() * headings.length)];
---

<Layout
	title="Flinky - home of silly critters"
	description="A home of anthro things"
>
	<header
		class="h-80 flex flex-col justify-center gap-y-6 max-w-7xl mx-auto px-6"
	>
		<h1 class="text-5xl font-bold">{randomHeadings}</h1>
		<p class="text-lg max-w-2xl leading-relaxed">
			Flinky is a crowd-sourced database for cataloging anthro characters all
			across mass media - films, TV shows, commmericals, mascots - everything!
		</p>
		<div class="flex">
			<a href="/con">Contribute</a>
			<a href="/what-is-flinky">What is this?</a>
		</div>
	</header>
	<div class="max-w-7xl mx-auto px-6 space-y-16 mt-6">
		<div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-x-4">
			<SectionTitle heading="Popular this week" class="border rounded-md px-5 py-4 border-neutral-600 bg-neutral-900">
				<div class="space-y-1 *:-mx-2.5">
					<CharacterItem title="Placeholder" />
					<CharacterItem title="Placeholder" />
					<CharacterItem title="Placeholder" />
					<CharacterItem title="Placeholder" />
					<CharacterItem title="Placeholder" />
				</div>
			</SectionTitle>
			<SectionTitle heading="Recently added" class="border rounded-md px-5 py-4 border-neutral-600 bg-neutral-900">
				<div class="space-y-1 *:-mx-2.5">
					<CharacterItem title="Placeholder" />
					<CharacterItem title="Placeholder" />
					<CharacterItem title="Placeholder" />
					<CharacterItem title="Placeholder" />
					<CharacterItem title="Placeholder" />
				</div>
			</SectionTitle>
		</div>

		<SectionTitle heading="Most popular"> Placeholder </SectionTitle>
		<SectionTitle heading="Newsletter thingy"> Placeholder </SectionTitle>
		<SectionTitle heading="Latest activity"> Placeholder </SectionTitle>
	</div>
</Layout>
