---
import Layout from "../../lib/layouts/Layout.astro"
---

<Layout title="Character">
  <div class="*:px-6 *:max-w-7xl *:mx-auto space-y-4">
    <nav>breadcrumb</nav>
    <header class="flex gap-x-4 select-auto">
      <div class="size-44 bg-purple-200 rounded-md"></div>
      <div class="select-auto flex flex-col gap-y-2">
        <h1 class="text-4xl font-bold">Character name</h1>

        <div class="flex gap-x-3.5 opacity-65">
          <span>detail</span>
          <span>detail</span>
          <span>detail</span>
        </div>
        
        <div class="flex gap-x-3">
          <button>Cross-search</button>
        </div>
      </div>
    </header>
  </div>
  <div class="border-b border-b-neutral-300/40 mt-1">
    <nav class="px-6 py-2 max-w-7xl mx-auto flex gap-x-3">
      <button class="px-2 py-2">Overview</button>
      <button class="px-2 py-2">Gallery</button>
      <button class="px-2 py-2">Others</button>
    </nav>
  </div>
  <div class="px-6 max-w-7xl mx-auto mt-4">
    <section>bio and crap</section>
  </div>
</Layout>