---
import { kebabCase } from "lodash-es"

interface Props {
  heading?: string
}

const { heading } = Astro.props

const headingKebabed = kebabCase(heading)
---

<section id={headingKebabed}>
  <slot name="custom-heading">
    <h2 class="font-bold text-3xl mb-3">{heading}</h2>
  </slot>
  <slot />
</section>
