---
import { kebabCase } from "lodash-es";

interface Props {
  heading?: string;
  class?: string;
}

const { heading, class: _class } = Astro.props;

const headingKebabed = kebabCase(heading);
---

<section id={headingKebabed} class={_class}>
  <slot name="custom-heading">
    <h2 class="font-bold text-3xl mb-3">{heading}</h2>
  </slot>
  <slot />
</section>
